- var count = 0

section
  h1 Installing #{config.appName} on a CMS

  if config.beforeContent
    div(data-content-slot="before")
      != config.beforeContent

  if this.downloadURL
    - count++
    h2
      span.step-number.accent-background-color= count

      span
        a.more(target="_blank" href=this.downloadURL)= this.downloadLabel
        div= this.autoDownloadLabel

    - count++
    h2
      span.step-number.accent-background-color= count
      span
        | Copy script tag <head> of your page.

      if this.downloadURL
        .copy-container
          button.run(data-ref="copyButtons[]")
            | Copy

          div.copyable(contenteditable)
            | &lt;script src="#{this.downloadURL}"&gt;&lt;/script&gt;

  figure
    img(src=require("./installing-eager.gif"))

  - count++
  h2
    span.step-number.accent-background-color= count
    span Visit your site

  p After saving the changes you made, visit your site in the browser.
  p You should see a welcome message letting you know the installation worked.

  if config.afterContent
    div(data-content-slot="after")
      != config.afterContent
