- var count = 0

section
  h1 Installing #{config.appName} on a CMS

  if config.beforeContent
    div(data-content-slot="before")
      != config.beforeContent

  if downloadURL
    - count++
    h2
      span.step-number.accent-background-color=count
      span
        a.more(target="_blank" href=downloadURL)
          | Download the plugin

    - count++
    h2
      span.step-number.accent-background-color=count
      span
        | Copy script tag <head> of your page.

      if downloadURL
        .copy-container
          button.run(data-ref="copyButtons[]")
            | Copy

          textarea.copyable(readonly)
            | <script src="#{downloadURL}"></script>

  figure
    img(src=require("./installing-eager.gif"))

  - count++
  h2
    span.step-number.accent-background-color=count
    span Visit your site

  p After saving the changes you made, visit your site in the browser.
  p You should see a welcome message letting you know the installation worked.

  if config.afterContent
    div(data-content-slot="after")
      != config.afterContent
