ol.steps
  if this.pluginURL
    li
      != this.renderDownloadLink()
      p After downloading, don’t unzip the file.

    li
      h2 Login to your Drupal Administrator Dashboard and click <strong>Modules</strong>.

      figure(data-ref="screenshotMounts[]" data-screenshot="navigateToModules")

    li
      h2 Click <strong>Install New Module</strong>.

      figure(data-ref="screenshotMounts[]" data-screenshot="installNewModules")

    li
      h2 Upload the module.
      p Click <strong>Choose File</strong> and select the module you downloaded to your computer.

      figure(data-ref="screenshotMounts[]" data-screenshot="uploadModule")

    li
      h2 Click <strong>Enable newly added modules</strong>.

      figure(data-ref="screenshotMounts[]" data-screenshot="installationSuccessful")

    li
      h2 Activate the plugin and view your site.

      p On the Modules page, scroll down to find the new <strong>#{config.name}</strong> entry.
      p Check the <strong>Enabled</strong>. checkbox to activate the plugin, and click <strong>Save configuration</strong>.

      figure(data-ref="screenshotMounts[]" data-screenshot="activateModule")

      p You’re done!

  else
    if this.location === "body"
      li
        h2 In your Drupal site’s Admin interface, click the <strong>Structure</strong> link at the top of the page.

      li
        h2 Click <strong>Blocks</strong>.

      li
        h2 Click <strong>Add Block</strong>.

      li
        h2 Fill out the form.

        p As the <strong>Block Description</strong> enter “#{ config.name } Embed”.
        p As the <strong>Block Body</strong> paste this embed code:

        .copy-container
          button.button.primary.run(data-ref="copyButtons[]") Copy
          div.copyable(contenteditable)= this.copyText

        p As the <strong>Text Format</strong> select “Full HTML”.

        p Under <strong>Region Settings</strong> select “Footer” <em>for every theme</em>.

        p That’s it, there’s no need to select any other options

      li
        h2 Click <strong>Save block</strong>, you’re done!
    else
      li
        h2 If you don’t already have it installed, install the <strong>Add to Head</strong> module.

        p In your Drupal site’s Admin interface, click the <strong>Modules</strong> link at the top of the page
        p Click <strong>Install new module</strong>.
        p In the <strong>Install from a URL</strong> field enter:

        .copy-container
          button.button.primary.run(data-ref="copyButtons[]") Copy
          div.copyable(contenteditable) https://ftp.drupal.org/files/projects/add_to_head-7.x-1.2.tar.gz

        p Click <strong>Enable newly install modules</strong>.
        p Scroll down until you find the <strong>Add To Head</strong> module and check the box to the left of the name.
        p Click <strong>Save configuration</strong>.

      li
        h2 Install the embed code into the module

        p Click the <strong>Configuration</strong> button at the top of your Drupal site’s Admin interface.
        p Click the <strong>Add to Head</strong> link on the right side.
        p Click <strong>Add one now</strong>.

      li
        h2 Fill out the form.

        p For the <strong>Name</strong> enter “#{ config.name } Embed”.
        p For the <strong>Code</strong> enter:

        .copy-container
          button.button.primary.run(data-ref="copyButtons[]") Copy
          div.copyable(contenteditable)= this.copyText

        p For the <strong>Scope of addition</strong>, select “Head”.
        p There is no need to change any other fields.

      li
        h2 Click <strong>Save</strong>, you’re done!
