ol.steps
  if this.pluginURL
    li
      != this.renderDownloadLink()
      p After downloading, don’t unzip the file.

    li
      h2 Login to your Drupal Administrator Dashboard and click “Modules”

      figure(data-ref="screenshotMounts[]" data-screenshot="navigateToModules")

    li
      h2 Click “Install New Module”

      figure(data-ref="screenshotMounts[]" data-screenshot="installNewModules")

    li
      h2 Upload the module
      p Click “Choose File” and select the module you downloaded to your computer.

      figure(data-ref="screenshotMounts[]" data-screenshot="uploadModule")

    li
      h2 Click “Enable newly added modules”

      figure(data-ref="screenshotMounts[]" data-screenshot="installationSuccessful")

    li
      h2 Activate the plugin and view your site

      p On the Modules page, scroll down to find the new “#{config.name}” entry.
      p Check the “Enabled” checkbox to activate the plugin, and click “Save configuration”.

      figure(data-ref="screenshotMounts[]" data-screenshot="activateModule")

      p You’re done!

  else
    if this.location === "body"
      li
        h2 In your Drupal site’s Admin interface, click the “Structure” link at the top of the page

      li
        h2 Click “Blocks”

      li
        h2 Click “Add Block”

      li
        h2 Fill out the form

        p As the “Block Description” enter “#{ config.name } Embed”
        p As the “Block Body” paste this embed code:

        .copy-container
          button.primary.run(data-ref="copyButtons[]") Copy
          div.copyable(contenteditable)= this.copyText

        p As the “Text Format” select “Full HTML”

        p Under “Region Settings” select “Footer” <strong>for every theme</strong>

        p That’s it, there’s no need to select any other options

      li
        h2 Click “Save block”, you’re done!
    else
      li
        h2 If you don’t already have it installed, install the “Add to Head” module

        p In your Drupal site’s Admin interface, click the “Modules” link at the top of the page
        p Click “Install new module”
        p In the “Install from a URL” field enter:

        .copy-container
            button.primary.run(data-ref="copyButtons[]") Copy
            div.copyable(contenteditable) https://ftp.drupal.org/files/projects/add_to_head-7.x-1.2.tar.gz

        p Click “Enable newly install modules”
        p Scroll down until you find the “Add To Head” module and check the box to the left of the name
        p Click “Save configuration”

      li
        h2 Install the embed code into the module

        p Click the “Configuration” button at the top of your Drupal site’s Admin interface
        p Click the “Add to Head” link on the right side
        p Click “Add one now”

      li
        h2 Fill out the form

        p For the “Name” enter “#{ config.name } Embed”
        p For the “Code” enter:

        .copy-container
            button.primary.run(data-ref="copyButtons[]") Copy
            div.copyable(contenteditable)= this.copyText

        p For the “Scope of addition”, select “Head”
        p No need to change any other fields

      li
        h2 Click “Save”, you’re done!
