mixin anchored(tag, text)
  - var escapedText = text.toLowerCase().replace(/[^\w]+/g, "-")
  | <#{tag} class="headline-with-anchor">
  a.without-underline(name=escapedText href=("#" + escapedText))=text
  | </#{tag}>

doctype html
html.no-js(lang="en" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml")
  head
    title= htmlWebpackPlugin.options.title
    script.
      document.documentElement.classList.remove("no-js");

    link(rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon")

    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    meta(property="og:title" content=htmlWebpackPlugin.options.title)
    meta(property="og:type" content="website")
    meta(property="og:url" content="http://embedbox.io")
    meta(property="og:description" content=htmlWebpackPlugin.options.description)
    mete(name="description" content=htmlWebpackPlugin.options.description)

  body
    main(data-column)
      .slide.padded.hero
        .content(data-column)
          h1.logo-text EmbedBox

          p= htmlWebpackPlugin.options.description

          p.links
            a.more(href="#how-to-use") Documentation
            a.more(href="https://github.com/EagerIO/EmbedBox") GitHub

        .figure.frame-container
          .placeholder
            .loading-dots
              i
              i
              i

          iframe#automated-frame(allowTransparency frameBorder="0" seamless)
          .barrier

      noscript.slide.no-js-info
        p This website requires JavaScript to retrieve content.
        p
          a(href="http://enable-javascript.com", target="_blank") How to enable JavaScript.

      .slide.padded.features
        ul.features-list
          li.roomy-feature
            .content
              h3 Clean customizable UI
              p
                | EmbedBox tries to remain as neutral as possible,
                | allowing it to blend into any existing site by just picking a few colors.
                | Need full CSS control? No problem, just include a stylesheet when instantiating.

            img.image(src=require("./assets/customize-feature.png"))

          li.roomy-feature
            .content
              h3 Built-in documentation.
              p EmbedBox includes installation instructions for every major CMS platform.

            img.image(src=require("./assets/documentation-feature.png"))

          li.roomy-feature
            .content
              h3 Got plugins?
              p
                | EmbedBox painlessly showcases your existing CMS plugins,
                | all inside an interface which is easy to integrate into your site.

            img.image(src=require("./assets/got-plugins-feature.png"))

      .slide.padded.docs.full.install
        h1 Docs

        +anchored("h2", "How to use")

        :marked
          Download the <a href="#">latest release</a> and add this to your page:

        .code-example
          != require("./examples/install.md")

        .code-example.has-run-button
          button.run Run
          != require("./examples/basic.md")

        :marked
          A `downloadURL` can be used instead of `embedCode`.
          Targets can have specific downloads as well!

          If your script should be loaded in the `<head>` tag,
          set `insertInHead` and the instructions will update according.

        .code-example.has-run-button
          button.run Run
          != require("./examples/download-url.md")

        +anchored("h2", "Customization")
        +anchored("h3", "Themes")

        .code-example.has-run-button
          button.run Run
          != require("./examples/custom-theme.md")

        :marked
          If the `theme` configuration option is too coarse,
          the modal stylesheet can be altered or replaced.

        .code-example.has-run-button
          button.run Run
          != require("./examples/custom-modal-stylesheet.md")

        +anchored("h3", "Content slots")

        :marked
          Content can be inserted before and after the target instructions.

          Target specific slots can be included as well.

        .code-example.has-run-button
          button.run Run
          != require("./examples/content-slots.md")

        +anchored("h3", "Labels")

        :marked
          Labels can be added as strings or functions.
          The EmbedBox `config` is exposed to label functions.

        .code-example.has-run-button
          button.run Run
          != require("./examples/labels.md")


        +anchored("h3", "Ordering visible targets")

        :marked
          Targets can be limited to a specific set and order with an array of target IDs.
          Consult `EmbedBox.getTargetIDs()` for a list of IDs.

        .code-example.has-run-button
          button.run Run
          != require("./examples/visible-targets.md")

        :marked
          If `visibleTargets` only has one entry, the target search will be skipped.

        .code-example.has-run-button
          button.run Run
          != require("./examples/single-target.md")

        +anchored("h3", "Custom targets")

        :marked
          If the content slots are too coarse, custom targets can be created with the custom build.

        .code-example
          != require("./examples/custom-install.md")

        .code-example.has-run-button
          button.run Run
          != require("./examples/custom-target.md")

        +anchored("h3", "Contributing")

        :marked
          Please do, we would love for this to become a project of the community.
          Feel free to open an issue, submit a PR or contribute to the wiki.

        .figure.embedbox-figure.floating-figure.frame-container(data-layout="standby")
          .fullscreen-toggle!= require("./assets/expand.svg")

          iframe#example-frame(allowTransparency frameBorder="0" seamless)

      .slide.made-by
        .label Made by

        a.logo-link.without-underline(href="https://eager.io")
          != require("./assets/eager-logo.svg")
