doctype html
html.no-js(lang="en")
  head
    title Eager Universal Embed
    script(src="//use.typekit.net/xsm8rqv.js")
    script.
      try{Typekit.load();}catch(e){};
      document.documentElement.classList.remove("no-js");

    link(rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon")

    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")

  body
    main(data-column)
      .slide.hero(data-column)
        .logo-text Universal Embed
        em Simple user onboarding

        iframe.github-star(
          src="https://ghbtns.com/github-btn.html?user=eagerio&repo=UniversalEmbed&type=star&count=true&size=large"
          frameborder="0"
          scrolling="0"
          width="160px"
          height="30px")

      .slide.pitch(data-column)
        :markdown
          # How can I get my app on every site in the universe?

          [simplified example here]


      .slide.install(data-column)
        :markdown
          # How to Use

          First download the <a href="#">latest release</a>, then add this to your page.

        .code-example
          != require("./examples/install.md")

        .code-example
          button(data-example="basic").run Run
          != require("./examples/basic.md")

      .slide.configure

    noscript.no-js-info
      h1 Eager Universal Embed
      p This website requires JavaScript to retrieve content.
      p
        a(href="http://enable-javascript.com", target="_blank")
          | How to enable JavaScript.
