doctype html
html.no-js(lang="en")
  head
    title Universal Embed - Eager
    script(src="//use.typekit.net/xsm8rqv.js")
    script.
      try{Typekit.load();}catch(e){};
      document.documentElement.classList.remove("no-js");

    link(rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon")

    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")

  body
    main(data-column)
      .slide.hero
        svg.stars

        .logo-text Universal Embed

        p Build one plugin, ship it to <strong>one hundred million</strong> websites.

        iframe.github-star(
          src="https://ghbtns.com/github-btn.html?user=eagerio&repo=UniversalEmbed&type=star&count=true&size=large"
          frameborder="0"
          scrolling="0"
          width="160px"
          height="30px")

      .slide.pitch
        :marked
          # How can I get my app on every site in the universe?

          [simplified example here]


      .slide.install
        :marked
          # How to Use

          First download the <a href="#">latest release</a>, then add this to your page.

        .code-example
          != require("./examples/install.md")

        .code-example.has-run-button
          button.run Run
          != require("./examples/basic.md")

      .slide.customization
        :marked
          # Customization

        :marked
          ## Custom content slots

        .code-example.has-run-button
          button.run Run
          != require("./examples/content-slots.md")

        :marked
          ## Custom pages

        .code-example.has-run-button
          button.run Run
          != require("./examples/custom-page.md")

    noscript.no-js-info
      h1 Universal Embed
      p This website requires JavaScript to retrieve content.
      p
        a(href="http://enable-javascript.com", target="_blank")
          | How to enable JavaScript.
