section(data-flow="column" data-component="target-search" data-event-receiver)
  header.header(data-flow="column")
    label(for="search-input")= label("searchHeader")
    .input-wrapper(data-ref="inputWrapper")
      input#search-input.search(
        data-ref="search"
        placeholder=label("searchPlaceholder")
        spellcheck="false"
        tabindex="3"
        type="text")
      .search-clear(
        data-ref="searchClear"
        tabindex="3")

  .entries(data-flow="column" data-ref="entriesContainer")
