section(data-column data-component="target-search" data-event-receiver)
  header.header
    input.search(
      data-ref="search"
      placeholder=label("searchPlaceholder")
      spellcheck="false"
      tabindex="3"
      type="text")

  .entries(data-column data-ref="entriesContainer")

  footer.modal-footer
    button.primary.slim.more(data-action="next" data-ref="nextButton" tabindex="5")
      = label("next")

