section(data-column data-component="target-search" data-event-receiver)
  header.header(data-column)
    label(for="search-input")= label("searchHeader")
    .input-wrapper(data-ref="inputWrapper")
      input#search-input.search(
        data-ref="search"
        placeholder=label("searchPlaceholder")
        spellcheck="false"
        tabindex="3"
        type="text")

  .entries(data-column data-ref="entriesContainer")
