- var count = 0

section
  h1 Installing #{config.appName} onto a WordPress site

  if config.beforeContent
    div(data-content-slot="before")
      != config.beforeContent

  if downloadURL
    - count++
    h2
      span.step-number.accent-background-color= count

      span
        a.more(target="_blank" href=downloadURL)
          | Download the WordPress plugin

    p After downloading, don’t unzip the file.

  - count++
  h2
    span.step-number.accent-background-color= count
    span Upload the plugin to your WordPress Admin site

  figure
    img(src=require("./upload-plugin.png"))

  p In your WordPress Admin, navigate to: <strong>Plugins &gt; Add New &gt; Upload Plugin</strong>.

  p Click “Choose File” and select the file you just downloaded.</p>

  - count++
  h2
    span.step-number.accent-background-color= count
    span Activate the plugin and view your site

  figure
    img(src=require("./activate-plugin.png"))

  p Click “Activate Plugin”.

  p After it activates you’ll see a welcome message letting you know the installation was successful!

  if config.afterContent
    div(data-content-slot="after")
      != config.afterContent
