main(data-column data-component="application" role="main" data-target-count=this.targets.length)
  .modal(data-column)
    header.modal-header(role="menubar")
      button(
        data-action="previous"
        data-ref="previousButton"
        tabindex="1"
        role="menuitem")

      span.title #{label("title")}

      button(
        data-action="close"
        data-ref="closeModalButton"
        tabindex="2"
        role="menuitem")

    .content(data-ref="content")

