main(
  data-flow="column"
  data-component="application"
  data-target-count=this.targets.length
  data-mode=config.mode
  role="main")
  .modal(data-flow="column")
    header.modal-header(role="menubar")
      .button(
        data-action="previous"
        data-ref="previousButton"
        tabindex="1"
        role="menuitem")

      span.title(data-ref="title")

      .button(
        data-action="close"
        data-ref="closeModalButton"
        tabindex="2"
        role="menuitem")

    .content(data-ref="content")
