section
  h1 Installing #{config.name} onto a Drupal site

  if config.beforeContent || this.config.beforeContent
    div(data-content-slot="before")
      p!= config.beforeContent
      p!= this.config.beforeContent

  ol.steps
    if this.downloadURL
      li
        h2
          a.more(target="_blank" href=this.downloadURL)= this.downloadLabel
          div= this.autoDownloadLabel

        p After downloading, don’t unzip the file.

      li
        h2 Move the contents to <code>/sites/all/modules</code>

        figure: img(src=require("./upload-plugin.png"))

        p Unzip the file and move it into the <strong>sites &gt; all &gt; modules</strong> folder inside your Drupal installation.
        p If you don’t have access to these files, please <a href="https://eager.io/contact">contact</a> us for help.

      li
        h2 Activate the plugin and view your site

        figure: img(src=require("./activate-plugin.png"))

        p On the Modules page, scroll down to find the new “Eager” plugin.
        p Check the “Enabled” checkbox to activate the plugin, and click “Save configuration”.
        p After it activates, visit your site to see a welcome message letting you know the installation was successful!

    else
      li
        h2 In your WordPress Admin, navigate to: <strong>Appearance &gt; Editor</strong>.

        p Navigate to the Theme Editor from the menu on the left side.

      li
        h2 Copy the code to your site's &lt;#{this.location}&gt; tag.

        .copy-container
          button.primary.run(data-ref="copyButtons[]") Copy
          div.copyable(contenteditable)= this.copyText

        if this.location === "head"
          p <code>drupal_add_html_head</code>
        else
          p <code>drupal_add_js("???", 'inline')</code>

      li
        h2 Click “Update File”

        p You’re done!

  if config.afterContent || this.config.afterContent
    div(data-content-slot="after")
      p!= config.afterContent
      p!= this.config.afterContent
